cache:
  - '%APPDATA%\cabal\store -> cabal.project.freeze'
  - 'C:\ProgramData\chocolatey\bin -> ghc.version'
  - 'C:\ProgramData\chocolatey\lib -> ghc.version'

build: off

before_build:
  - ps: 'choco install --yes ghc --version $(Get-Content .\ghc.version)'
  - ps: '$env:PATH = "C:\ProgramData\chocolatey\lib\ghc\tools\ghc-$(Get-Content .\ghc.version)\bin;${env:PATH}"'
  - ps: "cabal v2-update"

build_script:
  - ps: "cabal v2-build --only-dependencies --enable-tests"
  - ps: 'New-Item -ItemType Directory -Path .\out\build\release,.\out\publish'
  - ps: 'cabal v2-install --enable-optimization=2 --installdir=.\out\build\release --install-method=copy --overwrite-policy=always'
  - ps: 'Copy-Item .\out\build\release\smoke.exe .\out\publish\smoke-${env:APPVEYOR_REPO_TAG_NAME}-windows-x64.exe'

test_script:
  - ps: "cabal v2-test"
  - ps: '.\out\build\release\smoke.exe --command=.\out\build\release\smoke.exe spec'

artifacts:
  - name: published
    path: out\publish\smoke-$(APPVEYOR_REPO_TAG_NAME)-windows-x64.exe

deploy:
  provider: GitHub
  draft: true
  description: "Smoke $(APPVEYOR_REPO_TAG_NAME)"
  artifact: out\publish\smoke-$(APPVEYOR_REPO_TAG_NAME)-windows-x64.exe
  force_update: true
  auth_token:
    secure: "QfL5WkDKhP5KNpeXpEgYGzLz65B7/hcVuhwwyRFul/rGEKYszbAVQ/vmFWtWVVcX"
  on:
    APPVEYOR_REPO_TAG: true
